/.stack-work
/.shake
/.build
/.direnv
/wiki
/tags
/TAGS
/data
/samples-exe
/dist-newstyle

/bench-results
/prof-results
/bench-prof
*.prof
*.prof.folded
*.prof.html
/samples-prof
*.dyn_o
*.o
*.hi
/result
